body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tic-tac-toe__board-cell button {
  min-height: 100px;
  min-width: 100px;

  margin-bottom: 30px;
}